//___________________TABLET________________________________
@media only screen and (min-width: 640px) {
    .calculator {
        width:80%;
        max-width: 320px;
        min-width: 120px;background-color: yellow;
        
    }
       
}
//___________________DESKTOP________________________________	
@media screen and (orientation: landscape),
        screen and (min-width: 850px) {
    .calculator {
        width: 30%;
        background-color: darkblue;
    }

}
