//___________________TABLET________________________________
@media only screen and (min-width: 640px) {
    .calculator {
        //width: 90%;
        max-width: 580px;
        //min-width: 120px;
        //background-color: yellow;
    }
       
}
//___________________DESKTOP________________________________	
@media screen and (orientation: landscape),
        screen and (min-width: 850px) {
    .calculator {
        max-width: 250px;
    }
    .button-number {
        height: 50px;
        width: 50px;
    }

}
