/*pierwszy komentarz css*/
@import "fonts";
@import "grid";
@import "variables";
@import "rwd";

* {
	box-sizing: border-box;
}

body, html {
    color: $font-color;
    background-color: white;
	width: 100vw;
    margin: 0px auto;
	padding: 0;
	font-size: $default-font-size;
	font-family: 'Lato', sans-serif;
	}
	
.button-number {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: crimson;
    height: 50px;;
    width: 50px;
    text-align: center;
    padding: 15%;
    margin: 0 auto;
    cursor: pointer;

}
.calculator {
    width:100%;
    min-width: 120px;
    background-color: deeppink;
    padding: 1em;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

input[type=text] {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    border: 0;
    padding: 0 3px;
    font-size: 2em;
}