/*pierwszy komentarz css*/
@import "fonts";
@import "grid";
//@import "variables";
@import "rwd";

* {
	box-sizing: border-box;
}

body, html {
    color: white;
    background-color: white;
	//width: 100vw;
    //height: 100vh;
    margin: 0px auto;
	padding: 0;
	font-size: 19px;
	font-family: 'Lato', sans-serif;
	}
	
.button-number {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: crimson;
    height: 60px;
    width: 60px;
    text-align: center;
    padding: 15%;
    margin: 0 auto;
    cursor: pointer;
    border: 2px solid crimson;
    font-size: 19px;
    &:hover {
        background-color: darken(crimson, 30%);
        border: 2px solid white;
    }
    &:active {
        border: 2px solid white;
    }

}
.calculator {
    //max-width: 340px;
    width:95%;
    //min-width: 120px;
    background-color: darkslateblue;
    padding: 1em;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

input[type=text] {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-color: white;
    border: 0;
    padding: 4% 4%;
    font-size: 2em;
    color: black;
    line-height: 20px;
}